.second {
  background-color: #b9dbc6;

  .logo {
    top: 2.8%;
    left: 6.7%;
    width: 70px !important;
    height: 70px !important;
    border-radius: 50px;
  }

  .upwardBox {
    top: 2.6%;
    right: 3.5%;
  }

  .box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    animation-delay: 1s;
    z-index: 99;

    .wreath {
      z-index: 10;
    }

    .oldMan {
      bottom: 73.2%;
      left: 15%;
      z-index: 5;
      animation: waggle 6s linear infinite;
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }

    .cherry {
      top: 25.6%;
      right: -1%;
      z-index: 101;
    }

    .cap {
      top: 85.5%;
      left: 45.6%;
      z-index: 101;
    }

    .leaf {
      z-index: 100;
      animation: wave 5s linear infinite;
    }

    .leaf_1 {
      top: 57%;
      right: 84.1%;
      transform-origin: right;
    }

    .leaf_2 {
      top: 69.6%;
      left: 45%;
      transform-origin: center bottom;
      animation-delay: 0.2s;
    }

    .leaf_3 {
      top: 57%;
      left: 84.7%;
      transform-origin: left;
      animation-delay: 0.6s;
    }

    .leaf_4 {
      top: 19%;
      left: 82.9%;
      transform-origin: center bottom;
      animation-delay: 1s;
    }

    .leaf_5 {
      top: 19%;
      left: -1%;
      transform-origin: center bottom;
      z-index: 9;
      animation-delay: 1.4s;
    }

    .title {
      z-index: 200;
    }

    .st_title {
      top: 36%;
      transform: translateY(-50%);
    }

    .th_title {
      top: 36.3%;
      left: 10%;
      // animation-delay: 1s;
    }
  }

  .btoBox {
    animation-delay: 1.5s;
  }

  .cloud {
    bottom: 0;
    z-index: 5;
  }

  .house {
    bottom: 2.5%;
    left: 1.1%;
    z-index: 8;
  }

  .light {
    bottom: 2.6%;
    left: 1%;
    z-index: 6;
    opacity: 0;
    animation: twinkle 3s linear infinite;
  }

  .lighter {
    bottom: 2.5%;
    left: 1%;
    z-index: 9;
    opacity: 0;
    animation: twinkle 3s linear infinite;
    animation-delay: 0.5s;
  }

  .bottomTree {
    bottom: 0;
    z-index: 10;
  }
}
@keyframes waggle {
  0% {
    transform: none;
  }

  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: none;
  }
}
@keyframes wave {
  0% {
    transform: none;
  }

  25% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }

  100% {
    transform: none;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}